@media (max-width: 639px) {
  .grid-container {
    grid-template-columns: 1fr;
    max-width: 100%;
    justify-content: center;
    margin: auto;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(2, 200px);
    max-width: 440px;
    gap: 20px 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}


@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 200px);
    gap: 20px 50px;
  }
}



